
{{ form_start(exportForm) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(exportForm) }}
    </div>

    <div class="row">
        <div class="col-1">
            {{ form_row(exportForm.type) }}
        </div>
        <div class="col-2">
            <td>{{ form_label(exportForm.dateFrom) }}</td>
            <td>{{ form_widget(exportForm.dateFrom) }}</td>
        </div>
        <div class="col-2">
            <td>{{ form_label(exportForm.dateTo) }}</td>
            <td>{{ form_widget(exportForm.dateTo) }}</td>
        </div>
    </div>
{{ form_end(exportForm) }}

<table class="table text-center" id="my-data-table">
    <div>Total Items ({{ pagination.getTotalItemCount }})</div>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Comment</th>
            <th scope="col">Date</th>
            <th scope="col">Time spent</th>
        </tr>
    </thead>
    <tbody>
        {% set count = 1 %}
        {% for task in pagination %}
            <tr>
                <th scope="row">{{ ((pagination.params.page|default(1)) -1) * 10 + count }}</th>
                <td>{{ task.title }}</td>
                <td>{{ task.comment }}</td>
                <td>{{ task.date|date('Y-m-d') }}</td>
                <td>{{ task.timeSpent }}</td>
            </tr>
            {% set count = count + 1 %}
        {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-center">Total:</th>
        <th>{{ totalTime }}</th>
    </tr>
    </tfoot>
</table>
<div class="list-navigation">
    {{ knp_pagination_render(pagination) }}
</div>