<table>
    <tbody>
    <tr>
        <td><label for="min">Minimum date:</label></td>
        <td><input type="text" id="min" name="min"></td>
    </tr>
    <tr>
        <td><label for="max">Maximum date:</label></td>
        <td><input type="text" id="max" name="max"></td>
    </tr>
    </tbody>
</table>
<table class="table text-center" id="my-data-table">
    <div>Total Items ({{ pagination.getTotalItemCount }})</div>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Comment</th>
            <th scope="col">Date</th>
            <th scope="col">Time spent</th>
        </tr>
    </thead>
    <tbody>
        {% set count = 1 %}
        {% for task in pagination %}
            <tr>
                <th scope="row">{{ (pagination.params.page -1) * 10 + count }}</th>
                <td>{{ task.title }}</td>
                <td>{{ task.comment }}</td>
                <td>{{ task.date|date('Y-m-d') }}</td>
                <td>{{ task.timeSpent }}</td>
            </tr>
            {% set count = count + 1 %}
        {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-center">Total:</th>
        <th>{{ totalTime }}</th>
    </tr>
    </tfoot>
</table>
<div class="list-navigation">
    {{ knp_pagination_render(pagination) }}
</div>