<table>
    <tbody>
    <tr>
        <td><label for="min">Minimum date:</label></td>
        <td><input type="text" id="min" name="min"></td>
    </tr>
    <tr>
        <td><label for="max">Maximum date:</label></td>
        <td><input type="text" id="max" name="max"></td>
    </tr>
    </tbody>
</table>
<table class="table text-center" id="my-data-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Comment</th>
            <th scope="col">Date</th>
            <th scope="col">Time spent</th>
        </tr>
    </thead>
    <tbody>
        {% set count = 1 %}
        {% for task in userList.tasks %}
            <tr>
                <th scope="row">{{ count }}</th>
                <td>{{ task.title }}</td>
                <td>{{ task.comment }}</td>
                <td>{{ task.date|date('Y-m-d') }}</td>
                <td>{{ task.timeSpent }}</td>
            </tr>
            {% set count = count + 1 %}
        {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="4" style="text-align:right">Total:</th>
        <th></th>
    </tr>
    </tfoot>
</table>
