<table class="table" id="my-data-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Comment</th>
            <th scope="col">Date</th>
            <th scope="col">Time spent</th>
        </tr>
    </thead>
    <tbody>
        {% set count = 1 %}
        {% for task in userList.tasks %}
            <tr>
                <th scope="row">{{ count }}</th>
                <td>{{ task.title }}</td>
                <td>{{ task.comment }}</td>
                <td>{{ task.date|date('Y-m-d') }}</td>
                <td>{{ task.timeSpent }}</td>
            </tr>
            {% set count = count + 1 %}
        {% endfor %}
            <tr>
                <th scope="row">#</th>
                <td>Total time spent</td>
                <td></td>
                <td></td>
                <td>{{ totalTime }}</td>
            </tr>
    </tbody>
</table>
